<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<default-charset>UTF-8</default-charset>
	<default-root>d:/</default-root>
	<params-browsable>
		<browsable type="image">.JPG</browsable>
		<browsable type="image">.PNG</browsable>
		<browsable type="image">.GIF</browsable>
		<browsable type="text">.TXT</browsable>
		<browsable type="text">.HTM</browsable>
		<browsable type="text">.HTML</browsable>
		<browsable type="text">.JAVA</browsable>
		<browsable type="text">.JS</browsable>
		<browsable type="text">.C</browsable>
		<browsable type="text">.CPP</browsable>
	</params-browsable>
	
</web-app>